.App {
  text-align: center;
}

.borderList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style: none;
}

.dark {
  background-color: #464646;
  color: white;
}

.light {
  background-color: beige;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App .container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: space-evenly;
  align-items: stretch;
}

.App .flags {
  width: 100px;
  height: 50px;
}

.App .flagSmall {
  width: 50px;
  height: 50px;
}

.App .card {
  width: 200px;
  height: 200px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem grey;
  text-align: center;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}